/**************공통*****************/
*{padding:0; margin: 0 ;}
.inner{width: 1300px; margin: 0 auto;}
nav ul li{list-style: none;}
a{color: initial; text-decoration: none;}
.se h1{font-family:'Times New Roman', Times, serif ;}
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
html{
    font-family: 'NanumSquare', sans-serif;
     }



/****************header******************/
.head{float: right; padding-top: 60px;  z-index: 10000;}
header{height: 150px;}
.logo{padding-top: 45px; float: left;}
header .inner::before, header .inner::after{clear: both; display: block; content: "";} 
.head .headc{font-weight: 700; border-radius: 10px; display: inline-block; width: 150px; text-align: center; position: relative; padding: 5px 0;}
.headd{border-radius: 10px; display: none; position: absolute; top:30px; left: 0%; z-index: 10;}
.headd li a{display: block; padding: 4px 0px; color: white;}

.head .headc:hover .headd{display: block; background-color: black; color: white; width: 150px;}
.head .headc:hover{background-color: #ffcc1d; color: white;}
/****************sec1*******************/
.sec1{height: 300px; background-color: #ffcc1d; position: relative; background-image: url(../images/bgling.png);}
.sec1 h1{text-align: center; width: 100%; margin: 0 auto; padding-top: 100px; position: relative; color: white; font-size: 5em; text-shadow: 0 0 10px #bd8701;  z-index: 5;}
.left {float: left; width: 150px; padding-left: 50px; transform: translateY(-140px);}
.left img , .right img{width:100%;}
.right{float: right; transform: translatey(-150px); width: 230px; }


/********************sec2************************/
.sec2{height: 150px; background-image: url(../images/월넷.jpg); background-size: 100% auto;}





/*******************sec3************************/
.tabs1 {margin: 100px auto; width: 80%;}
.tabs1 li{text-align: center; list-style: none; display: inline-block ; cursor: pointer; width: 49%;}
.tabs1 li a{font-size: 2em; text-align: center; border: 1px solid; width: 100%; color: #000; border-color: black; 
    display: inline-block; list-style: none; }





.top1 li:hover a{background-color: #ffb600; color:white;  cursor: pointer; }
.top1 li a:hover{filter:invert(0%) }
a.on{background-color: #ffb600; color:white;}


.tabSet {padding-bottom: 150px;}

table{margin: 0 auto; border-collapse: collapse;;}
tr:nth-child(1){background-color: #f8f8f8; text-align: center;}
td:nth-child(1){width: 170px; text-align: center;}
td:nth-child(2){width: 630px; padding-left: 20px;}
td:nth-child(3){width: 215px;text-align: center; border-right: none;}
td{height: 50px; border-right: 1px solid #eeeeee; border-bottom: 0.5px solid #eeeeee;}


.one li{display: inline-block; padding:10px; }
.one{text-align: center; margin-top: 50px; list-style: none;}
.one li:nth-child(2){color: #ffb600;}
.one li:hover{color: #ffb600; cursor: pointer;} 

.event img{width: 20.9%; padding-left: 5px;}
.event a:nth-child(1) img{padding-left: 30px;}

.panel{display: none;}


/**********footer***********/
footer{background-color: #f7f7f7; height: 400px;}
.foot ul li{padding-right: 20px;}
.foot1{padding-top: 50px; float: left;}
.foot{padding-top: 70px;width: 1200px;}
.foot ul .li1{border-right: 1px solid; padding-right: 30px;}
.foot ul .li2{padding-left: 30px;}
.icon{float: right; padding-top: 50px;}
.icon1 {border: 1px solid; padding: 10px 20px 10px 20px; border-radius: 0.5em; }
.icon2{border: 1px solid; padding: 10px 20px 10px 20px; border-radius: 0.5em; }
.foot ul li{display: inline-block;}
.icon ul .icon1 {margin-bottom: 10px; text-align: center; font-size: 1.5em;}
.icon ul .icon2 {text-align: center; font-size: 1.5em;}
.icon ul li img{padding-right: 10px;}

footer::before footer::after{clear: both; content: ""; display: block;}
footer{background-color: #f7f7f7; height: 280px;}
.foot ul li{padding-right: 20px;}
.foot ul li a{font-size: 0.9em;}
.foot1{padding-top: 20px; float: left;}
.foot{padding-top: 50px;width: 1200px;}
.foot1 p{font-size: 0.5em; padding-top: 5px;}
.icon ul li{display: inline-block;}
.foot ul li {padding-bottom: 5px;}
.foot ul .li1{border-right: 1px solid; padding-right: 30px;}
.foot ul .li2{padding-left: 30px;}
.icon{float: right; padding-top: 20px;}
.icon1 {border: 1px solid; padding: 10px 20px 10px 20px; border-radius: 0.5em;}
.icon2{border: 1px solid; padding: 10px 20px 10px 20px; border-radius: 0.5em;}
.icon ul .icon1 {margin-bottom: 10px; text-align: center; font-size: 0.8em;}
.icon ul .icon2 {text-align: center; font-size: 0.8em;}
.icon ul li img{padding-right: 5px; width: 10px;}

#panel1-1{margin-left: 100px;}

#toggle{
    display: none;
}

@media (max-width:1300px){
    .inner{width: 100%;}
    .sec1 h1{font-size: 3em; padding-top: 150px;}
    .tabs1{width: 100%;}
}

@media  (max-width: 560px){
        .inner{
            width: 100%;
        }
        #toggle{
            width:20px;
            height: 20px;
            position: absolute;
            top:30px;
            left: 20px;
            display: block;
            cursor: pointer;
        }
        .toggle_in{
            height: 2px;
            background-color: black;
            margin-bottom: 6px;
        }
        .logo{
            position: absolute;
            right:20px;
            top:20px;
            padding-top: 0;
        }
        .logo img{
            width: 140px;
        }
        header {
            height: 75px;
        }
        
        .head{
            position: absolute;
            top:75px;
            left: 0;
            width: 100%;
            padding-top: 0;
            height: 0;
            overflow: hidden;
    
        }
        .head .headc{
            width:25%;
            display: block;
            float: left;
            height: 50px;
            line-height: 50px;
            font-size: 13px;
            border-radius: 0;
            background-color: #f8f8f8;
        }
        .sec1 {height: 200px;}
        .sec2 {height: 70px;}
        .sec1 h1{font-size: 2em; padding-top: 100px;}
        .tabs1 {width: 100%; font-size: 0.5em; text-align: center; margin: 30px auto; display: inline-block;}
        .tabs1 li{text-align: center; list-style: none; display: inline-block ; cursor: pointer; width: 100%;}

        .left {width: 100px; padding-left: 50px; transform: translateY(-100px);}
        .right{transform: translatey(-80px); width: 130px; }
        
        .head .headc:hover .headd{display: none;}
        .head .headc:hover{color: white;}
        .head .headc:hover a{color: white;}


    
       


        .tabs {margin-top: 30px;}
        .foot {padding-top: 30px; padding-left: 5%; width: 100%;}
        .foot ul li a{font-size: 0.5em; padding-top: 0px;}
        .foot ul li {padding-right: 20px;}
        .foot ul .li2 {padding-left: 10px;}
        .foot1 {padding-left: 5%; }
        .foot1 p{font-size: 0.5em;}
        .icon {float: left; padding-left: 5%;}
        .icon1 {padding: 5px 10px 5px 10px;}
        .icon2 {padding: 5px 10px 5px 10px;}
        .icon ul .icon1 {font-size: 1px; border-radius: 5px;}
        .icon ul .icon2 {font-size: 1px; border-radius: 5px;}
        .top1 li {width: 48%;}
        .foot ul li a img{width: 70%;}
        table{margin: 10px;}
        .tabSet {padding-bottom: 50px;}
        
        tr:nth-child(1){background-color: #f8f8f8; text-align: center; font-size: 1.1em;}
        td:nth-child(1){width: 20%; text-align: center; font-size: 0.8em;}
        td:nth-child(2){width: 50%; padding-left: 20px; font-size: 0.7em;}
        td:nth-child(3){width: 30%;text-align: center; border-right: none; font-size: 0.8em;}
        .one li {font-size: 0.5em;}

        #panel1-1 {margin: 0; margin-left: 10px;}
        .panels {width: 100%;}
        .event {width:100%; margin:0; padding: 0;}
        .event a{display: inline-block; width: 49%; margin: 0; padding:0;}
        .event img{width: 100%; padding: 0;}      
        .event a:nth-child(1) img{padding-left: 0px;} 
        
    
    }
